/* Skills.css */
.skills_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
}

.skills_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    gap: 12px;
}

@media (max-width: 960px) {
    .skills_wrapper {
        flex-direction: column;
    }
}

.skills_title {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: var(--text-primary);
}

@media (max-width: 768px) {
    .skills_title {
        margin-top: 12px;
        font-size: 32px;
    }
}

.skills_desc {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    color: var(--text-secondary);
}

@media (max-width: 768px) {
    .skills_desc {
        font-size: 16px;
    }
}

.skills_box_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    justify-content: center;
}

.skill_box {
    width: 100%;
    max-width: 500px;
    background: var(--card);
    border: 0.1px solid #854ce6;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 18px 36px;
}

@media (max-width: 768px) {
    .skill_box {
        max-width: 400px;
        padding: 10px 36px;
    }
}

@media (max-width: 500px) {
    .skill_box {
        max-width: 330px;
        padding: 10px 36px;
    }
}

.skill_title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-secondary);
    margin-bottom: 20px;
    text-align: center;
}

.skill_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.skill_item {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary-80);
    border: 1px solid var(--text-primary-80);
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.skill_img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .skill_item {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: 500px) {
    .skill_item {
        font-size: 14px;
        padding: 6px 12px;
    }
}